body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/sample_b1efec552a88ef120c51dde7cd7ed407cd0d847a.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    margin-left: 5px;
    margin-right: 5px;
}

main {
  margin-left: 15px;
  margin-right: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  justify-content: center;
}

a {
    color: cyan;
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 17px;
}

hr {
  border: none;
  height: 2px;
  background-color: rgba(5, 101, 235, 0.75);
  margin: 20px 0;
  width: 100%;
}

#center-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.backdrop {
    background-color: rgba(0, 71, 171, 0.5);
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.social-link {
    font-size: 24px;
    color: white;
}

.social-links {
    margin-top: 10px;
    margin-left: 15px;
}

.social-link i:hover {
    color: rgba(5, 101, 235, 1);
}
