* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
}

details {
  font-size: 17px;
  background-color: rgba(5, 101, 235, 0.25);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  outline: 2px solid rgba(5, 101, 235, 0.75);
}
